# FenrirOS GRUB config for live ISO
# UEFI boot - no systemd-boot dependency

set default=0
set timeout=5

menuentry "FenrirOS - Unchained" {
    set gfxpayload=keep
    linux   /boot/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G
    initrd  /boot/initramfs-linux-cachyos.img
}

menuentry "FenrirOS - Unchained (copy-to-RAM)" {
    set gfxpayload=keep
    linux   /boot/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G copytoram
    initrd  /boot/initramfs-linux-cachyos.img
}
